@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Audiowide:regular);

:root {
    --color-text: #fdfdfd;
    --gradient-background: linear-gradient(#231f4d, #302b63, #24243e);
    --gradient-borders: linear-gradient(to right, #A046FA, #FAB246, #3CFA7C);
    --rem-small: .25rem;
    --rem-medium: .5rem;
    --rem-large: 1rem;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    color: var(--color-text);
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    word-wrap: break-word;
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fullscreen {
    width: 100%;
    height: 100vh;
}

.title {
    background: linear-gradient(to right, #A046FA, #FAB246, #3CFA7C);
    border-radius: var(--rem-medium);
    font-size: 1.3rem;
    text-align: center;
    width: 80vw;
    letter-spacing: var(--rem-small);
    font-family: 'Audiowide';
}

.subtitle {
    background: linear-gradient(to right, #A046FA, #FAB246, #3CFA7C);
    padding: var(--rem-small);
    border-radius: var(--rem-small);
    font-size: 1rem;
    text-align: center;
    width: 100%;
    font-family: 'Audiowide';
}

.paragraph {
    font-size: .8rem;
    text-align: center;
}

body {
    background: var(--gradient-background);
}

video {
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    object-fit: cover;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: var(--rem-large);
    gap: var(--rem-medium);
}

.profile-container {
    background: linear-gradient(to right, #A046FA, #FAB246, #3CFA7C);
    border-radius: var(--rem-large);
    padding-top: var(--rem-small);
}

.profile {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--rem-medium);
    background: var(--gradient-background);
    border-radius: var(--rem-large);
    gap: var(--rem-small);
}

.profile img {
    width: 4rem;
    height: auto;
    border-radius: var(--rem-large);
    cursor: pointer;
}

.profile-image-container {
    background: linear-gradient(to right, #A046FA, #FAB246, #3CFA7C);
    border-radius: var(--rem-large);
    padding: 3px;
}

.games {
    background: var(--gradient-background);
    padding: var(--rem-large);
    border-radius: var(--rem-medium);
    width: 80vw;
    font-size: 0.9rem;
    text-align: center;
    gap: var(--rem-medium);
}

.games-container {
    background: linear-gradient(to top, #A046FA, #FAB246, #3CFA7C);
    padding-left: var(--rem-small);
    padding-right: var(--rem-small);
    border-radius: var(--rem-medium);
}

.games-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--rem-medium);
}

.games img {
    width: 3rem;
    height: auto;
    border-radius: var(--rem-small);
}

.channels-container {
    background: linear-gradient(to bottom, #A046FA, #FAB246, #3CFA7C);
    border-radius: var(--rem-medium);
    padding-left: var(--rem-small);
    padding-right: var(--rem-small);
}

.channels {
    width: 80vw;
    background: var(--gradient-background);
    border-radius: var(--rem-medium);
    padding: var(--rem-large);
    gap: var(--rem-medium);
}

.channels-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--rem-medium);
}

.channels img {
    width: 3rem;
    height: auto;
    border-radius: 50%;
}

.social-container {
    background: linear-gradient(to right, #A046FA, #FAB246, #3CFA7C);
    border-radius: var(--rem-large);
    padding-bottom: var(--rem-small);
}

.social {
    width: 80vw;
    background: var(--gradient-background);
    padding: var(--rem-large);
    border-radius: var(--rem-medium);
    gap: var(--rem-medium);
}

.social img {
    width: 1.5rem;
}

.social-list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.profile,
.games,
.channels,
.social,
.title {
    max-width: 30rem;
}

li {
    transition: transform .3s;
}

li:hover {
    transform: scale(1.1);
}

main section {
    animation: fromTop .7s .4s backwards;
}

main h1 {
    animation: fromTop .7s .4s backwards;
}

main section article {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .7s;
}

main section:nth-child(4) {
    animation-delay: .10s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@media (min-width: 624px) {

    .title {
        font-size: 1.8rem;
    }

    .subtitle {
        font-size: 1.3rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .games img,
    .channels img,
    .profile img {
        width: 4rem;
    }

    .profile,
    .games,
    .channels,
    .social,
    .title {
        max-width: 35rem;
    }

    .social-list img {
        width: 1.5rem;
    }
}

@media (min-width: 1024px) {

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .games img,
    .channels img,
    .profile img {
        width: 5rem;
    }

    .profile,
    .games,
    .channels,
    .social,
    .title {
        max-width: 40rem;
    }

    .social-list img {
        width: 2rem;
    }
}